/* start variabels  */
:root {

   --main-color: #099dc6;
   --transparent-color: #0f738f95;
   --section-padding: 100px;

}

/* End variabels  */

/* Start Global rules  */
* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;

   padding: 0;
   margin: 0;

}

body {

   font-family: 'Open Sans', sans-serif;

}

html {
   scroll-behavior: smooth;
}

ul {
   list-style: none;
}

.container {
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}


/* SMALL  */
@media(min-width:768px) {
   .container {

      width: 750px;
   }
}

/* MEDIUM */
@media(min-width:992px) {
   .container {
      width: 970px;

   }
}

/* LARGE */
@media(min-width:1200px) {
   .container {
      width: 1170px;

   }
}

/* End Global rules  */

/* start component */

.main-heading {
   text-align: center;
   padding: 80px;
}

.main-heading h2 {

   position: relative;
   font-weight: normal;
   font-size: 40px;
   margin-bottom: 40px;
   text-transform: uppercase;

}

.main-heading h2::before {
   content: '';
   position: absolute;
   bottom: -30px;
   left: 50%;
   transform: translateX(-50%);
   width: 120px;
   height: 2px;
   background-color: #333;
   ;
}

.main-heading h2::after {
   content: '';
   position: absolute;
   bottom: -37px;
   left: 50%;
   transform: translateX(-50%);
   width: 14px;
   height: 14px;
   background-color: #ffffff;
   border-radius: 50%;
   border: solid 1px #777;
}

.main-heading p {
   color: #777;
   line-height: 2;
   margin: 0 auto 40px;
   width: 550px;
   max-width: 100%;
}

/* End component */
/* start header */


header {
   position: absolute;
   left: 0px;
   width: 100%;
   z-index: 2;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   min-height: 97.1px;

}

header .container::after {
   content: "";
   height: 1px;
   width: calc(100% - 30px);
   background-color: #726f71;
   position: absolute;
   bottom: 0;
   left: 15px;

}

header .logo img {
   height: 40px;

}

header nav {
   flex: 1;
   display: flex;
   justify-content: flex-End;
   align-items: center;
}

header nav .toggle-menu {
   color: white;
   font-size: 22px;

}

@media(min-width:768px) {

   header nav .toggle-menu {
      display: none;
   }
}

/* ------------------- */
header nav ul {
   display: flex;

}

@media(max-width:767px) {

   header nav ul {
      display: none;
   }

   header nav .toggle-menu:hover+ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.382);

   }

   header nav ul li a {
      padding: 15px !important;
   }

}

header nav ul li a {
   display: block;
   color: white;
   text-decoration: none;
   font-size: 14px;
   padding: 40px 10px;
   transition: .3s;
   position: relative;
   z-index: 2;

}

header nav ul li a.active,
header nav ul li a:hover {

   color: var(--main-color);
   border-bottom: solid 1px var(--main-color);

}

header nav .form {
   width: 40px;
   height: 30px;
   position: relative;
   margin-left: 30px;
   border-left: 1px solid white;
}

header nav .form i {
   color: white;
   position: absolute;
   font-size: 20px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

}

/* End header */

/* start landing  */


.landing {
   min-height: 100vh;
   background-color: #1f2021;
   background-image: url("../images/landing.jpg");
   background-size: cover;
   position: relative;
}

.landing .overlay {
   position: absolute;
   left: 0%;
   top: 0%;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.243);
}

.landing .overlay .text {
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   width: 50%;
   padding: 40px;
   background-color: var(--transparent-color);
   border-top-left-radius: 10%;
   color: white;
   display: flex;
   justify-content: flex-End;

}

@media(max-width:767px) {
   .landing .overlay .text {
      width: 100%;
   }

   .landing .overlay .text .content {
      max-width: 100%;
   }

}

.landing .overlay .text .content {

   max-width: 500px;
}

.landing .overlay .text .content h2 {
   font-size: 32px;
   font-weight: normal;
   line-height: 1.5;
   margin-bottom: 20px;



}

.landing .overlay .text .content p {

   font-size: 15px;
   line-height: 1.5;

}

.landing .change-background {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   color: #ddd;
}

@media(max-width:767px) {
   .landing .change-background {
      display: none;
   }


}

.AngelRight {
   right: 20px;
}

.AngelLeft {
   left: 20px;
}

.landing .bullets {
   position: absolute;
   left: 50%;
   bottom: 40px;
   transform: translateX(-50%);
   display: flex;
   justify-content: space-between;
}

.landing .bullets .active {
   background-color: var(--main-color);
   border-color: var(--main-color);
}

.landing .bullets li {
   width: 15px;
   height: 15px;
   border: solid 1px white;
   border-radius: 50%;
   margin-right: 8px;
}

/* End landing  */
/* start services */

.services {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}

@media(min-width:768px) {

   .services .services-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      gap: 60px 40px;
   }
}


@media(max-width:767px) {

   .services .srv-box {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 40px;


   }

   .services .srv-box i {
      margin: 0 0 30px !important;



   }


}

.services .srv-box {
   display: flex;
}

.services .srv-box i {
   margin-right: 50px;
   font-size: 30px;

}

.services .srv-box h3 {
   margin-bottom: 30px;
   color: var(--main-color);

}

.services .srv-box p {
   line-height: 2;
   color: rgba(119, 119, 119, 0.69);
}

/* End services */

/* start design */

.design {

   display: flex;
   align-items: center;
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   height: 600px;
   position: relative;
   background-image: url("../images/background.jpg");
   background-size: cover;
   overflow: hidden;

}

.design::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.533);


}

.design .image,
.design .text {
   position: relative;
   z-index: 2;
   flex: 1;

}

.design .image {
   text-align: center;
   /* display: flex;
   justify-content: center; */
}

@media(max-width:767px) {
   .design .image {

      display: none;
   }


}

.design .image img {
   position: relative;
   z-index: -1;
   bottom: -150px;
}


.design .text {
   color: white;
   padding: 50px;
   background-color: var(--transparent-color);
}

.design .text h2 {

   font-weight: normal;
   text-transform: uppercase;
   margin-bottom: 20px;

}

.design .text ul li {
   padding: 15px 0;

}

.design .text ul li::before {
   font-family: 'Font Awesome 5 Free';
   content: '\f390';
   font-weight: 900;
   margin-right: 20px;
   position: relative;
   top: 1px;
}



/* End design */


/* start portfolio */
.portfolio {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);

}

.portfolio .container nav {
   padding-bottom: 40px;
}

.portfolio .container nav ul {
   display: flex;
   justify-content: center;
}

.portfolio .container nav ul li {
   padding: 5px;
}

.portfolio .container nav ul li a {
   text-decoration: none;
   padding: 5px;

   color: black;
   transition: .3s;

}

.portfolio .container nav ul li .active {
   background-color: var(--main-color);
   color: white;
}

.portfolio .container nav ul li a:hover {
   background-color: var(--main-color);

}

.portfolio .imgs-container {
   display: flex;
   flex-wrap: wrap;

}

.portfolio .imgs-container .box {
   position: relative;
   overflow: hidden;
}

.portfolio .imgs-container .box:hover .caption {
   bottom: 0;
}

.portfolio .imgs-container .box:hover img {
   transform: rotate(3deg) scale(1.1);
}

@media(min-width:768px) {
   .portfolio .imgs-container .box {
      flex-basis: 50%;
   }

}

@media(min-width:1199px) {
   .portfolio .imgs-container .box {
      flex-basis: 25%;
   }

}


.portfolio .imgs-container .box img {
   max-width: 100%;
   transition: .3s;
}

.portfolio .imgs-container .box .caption {
   position: absolute;
   left: 0%;
   padding: 20px;
   background-color: white;
   width: 100%;
   bottom: -100%;
   transition: .3s;
}

.portfolio .imgs-container .box .caption h4 {
   font-weight: bold;
   margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
   color: var(--main-color);
}

.portfolio .more {
   background-color: var(--main-color);
   color: white;
   padding: 15px 20px;
   display: block;
   width: fit-content;
   margin: 30px auto;
   text-decoration: none;
   text-transform: uppercase;
}

/* End portfolio */

/*start video  */
.video {
   position: relative;
}

.video::before {
   position: absolute;
   content: '';
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;

   background-color: rgb(0 0 0 / 40%);
}

.video video {
   width: 100%;

}

.video .text {
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: var(--transparent-color);
   text-align: center;
   padding: 50px;
   color: white;
   transition: 0.2s;
}


.video h2 {
   font-weight: normal;
   margin: 0 0 30px;
   text-transform: uppercase;
   transition: 0.2s;
}

.video p {
   margin-bottom: 20px;
   transition: 0.2s;
}

.video button {
   background: black;
   color: white;
   border: none;
   padding: 10px 20px;
   text-transform: uppercase;
   transition: 0.2s;
}

@media (max-width:992px) {

   .video .text {

      padding: 10px;

   }

   .video h2 {

      margin: 0 0 20px;

   }

   .video button {

      padding: 7px 15px;

   }
}

/*End video  */

/* start about */
.about {
   padding-top: var(--section-padding);
   overflow: hidden;
   text-align: center;

}

.about .container img {

   position: relative;
   bottom: -120px;
   margin-top: -120px;
   max-width: 100%;


}

@media (max-width:767px) {

   .about .container img {

      position: relative;
      bottom: -80px;
      margin-top: -80px;



   }
}

/* End about */

/* start stats */
.stats {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   text-align: center;
   background-image: url("../images/bgg.jpg");
   background-size: cover;
   position: relative;
}

.stats::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0 0 0 / 70%);


}

.stats .container {
   position: relative;
   display: flex;
   flex-wrap: wrap;
}

.stats .container .box {
   color: white;
   padding: 50px;
   background-color: var(--transparent-color);

}

@media(max-width:767px) {
   .stats .container .box {
      flex-basis: 100%;
   }
}

@media(min-width:768px) {
   .stats .container .box {
      flex-basis: 50%;
   }
}

@media(min-width:992px) {
   .stats .container .box {
      flex-basis: 25%;
   }
}

.stats .container .box i {
   display: flex;
   justify-content: center;
   width: 40px;
   height: 40px;
   align-items: center;
   border-radius: 50%;
   background-color: black;
   margin: 0 auto 30px;

}

.stats .container .box .number {
   font-size: 40px;
   font-weight: bold;
   margin: 0 0 20px;
}

.stats .container .box p {
   font-size: 14px;
}


/* End stats *



/* start our skills  */

.our-skills {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}

.our-skills .container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

@media(min-width:992px) {
   .our-skills .container>div {

      flex-basis: 45%;
   }

}

.our-skills .container>div>h3 {
   margin: 0 0 30px;
   font-weight: normal;
   text-transform: uppercase;
   text-align: center;

}

.our-skills .container>div>p {

   color: #777;
   line-height: 2;
   ;
   text-align: center;
   margin-bottom: 60px;

}

/* start testimonials */
.our-skills .container .testimonials .content {
   display: flex;
   align-items: center;
   margin-bottom: 20px;


}

.our-skills .container .testimonials img {
   width: 100px;
   /* height: 100px;   */
   border-radius: 50%;
   margin-right: 50px;
}

@media(max-width:767px) {

   .our-skills .container .testimonials .content {
      flex-direction: column;
      text-align: center
   }

   .our-skills .container .testimonials img {
      margin: 0 auto 20px;
   }


}

.our-skills .container .testimonials .text {

   line-height: 2;
   border-bottom: 1px solid #ccc;

}

.our-skills .container .testimonials .content p {

   color: #777;
   text-align: right;
   font-size: 14px;
   margin-bottom: 10px;

}

/* start bullets  */
.our-skills .container .bullets {
   display: flex;
   justify-content: center;
   margin-top: 80px;
   margin-bottom: 50px;
}

.our-skills .container .bullets li {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border: solid 1px #aaa;
   margin-right: 5px;
}

.our-skills .container .bullets .active {
   background-color: var(--main-color);
   border-color: var(--main-color);
}

/* End bullets  */

/* End testimonials */


/* start skill  */

.our-skills .skills .prog-holder {
   margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
   margin-bottom: 15px;
   font-weight: normal;
   text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
   background-color: #dedadc;
   height: 30px;
}

.our-skills .skills .prog-holder .prog span {
   background-color: var(--main-color);
   height: 100%;
   display: block;
   width: 95%;
   position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
   content: attr(data-progress);
   position: absolute;
   top: -34px;
   right: -20px;
   background-color: black;
   color: white;
   width: 40px;
   text-align: center;
   padding: 0 5px;
   border-radius: 4px;
}

.our-skills .skills .prog-holder .prog span::after {
   content: "";
   position: absolute;
   border-style: solid;
   border-width: 8px;
   border-color: black transparent transparent transparent;
   top: -18px;
   right: -7px;
}


/* End skill  */

/* End our skills  */


/* Start quote */

.quote {

   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   background-image: url("../images/5.jpg");
   background-size: cover;
   color: white;
   position: relative;
   text-align: center;

}

.quote::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0 0 0 / 60%);
}

.quote .container {
   position: relative;
}


.quote .container q {
   font-size: 30px;
   display: block;
   margin-bottom: 30px;

}

q::before {
   font-family: 'Font Awesome 5 Free';
   content: '\f10e';
   font-weight: 600;
}

q::after {
   font-family: 'Font Awesome 5 Free';
   content: '\f10e';
   font-weight: 600;

}

/* End quote */

/*  Start pricing  */

.pricing {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}


.pricing .plans {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 30px;
}

.pricing .plans .plan {
   background-color: #fcfcfc;
   text-align: center;
}

.pricing .plans .plan .head {
   padding: 40px 20px;
   border-top: 1px solid var(--main-color);
   border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
   font-weight: normal;
   margin-bottom: 20px;
   text-transform: uppercase;
}

.pricing .plans .plan .head span {
   position: relative;
   font-size: 60px;
   font-weight: bold;
}

.pricing .plans .plan .head span::before {
   content: "$";
   position: absolute;
   font-size: 25px;
   font-weight: normal;
   margin-left: -24px;
   top: 12px;
}

.pricing .plans .plan .head span::after {
   content: "/MO";
   position: absolute;
   font-size: 20px;
   font-weight: normal;
   bottom: 14px;
   left: 75px;
}

.pricing .plans .plan ul {
   border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
   padding: 20px;

}

.pricing .plans .plan ul li::first-letter {
   text-transform: capitalize;
}

.pricing .plans .plan ul li:not(:last-child) {
   position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
   content: "";
   width: 120px;
   height: 1px;
   position: absolute;
   background-color: var(--main-color);
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);

}


.pricing .plans .plan .footer a {

   display: block;
   padding: 20px;
   text-decoration: none;
   margin: 30px auto;
   width: fit-content;
   border: 1px solid var(--main-color);
   background-color: #fff;
   transition: .3s;
}

.pricing .plans .plan .footer a:hover {

   color: #fff;
   background-color: var(--main-color);

}

.pricing .contact-text {
   text-align: center;
   margin: 50px auto 20px;
}

.pricing .contact-link {

   display: block;
   width: fit-content;
   margin: 20px auto;
   background-color: var(--main-color);
   color: white;
   padding: 15px 30px;
   text-decoration: none;
   border: 1px solid var(--main-color);
   transition: .3s;

}

.pricing .contact-link:hover {
   background-color: white;
   color: var(--main-color);

}

/*  End  pricing  */

/* start subscribe */

.subscribe {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   position: relative;
   color: white;
   background-image: url("../images/5.jpg");
   background-size: cover;

}

.subscribe::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}

.subscribe .container {
   position: relative;
   display: flex;
   align-items: center;
}

@media(max-width:991px) {


   .subscribe .container {
      flex-direction: column;
   }

}


.subscribe .container form {
   display: flex;
   position: relative;
   max-width: 100%;
   width: 500px;
}

.subscribe .container form i {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 25px;

}

.subscribe .container form input[type="email"] {
   border: 1px solid white;
   border-right: none;
   background: none;
   padding: 20px 20px 20px 60px;
   caret-color: var(--main-color);
   width: calc(100% - 130px);
   color: white;

}

.subscribe .container form input[type="submit"] {
   width: 130px;
   background-color: var(--main-color);
   color: white;
   padding: 10px 20px;
   border: 1px solid white;
   border-left: none;
   text-transform: uppercase;


}

.subscribe .container form input[type="email"]:focus,
.subscribe .container form input[type="submit"]:focus {
   outline: none;
}

.subscribe .container form ::placeholder {
   color: white;
}

.subscribe p {
   margin-left: 50px;
   line-height: 2;
}

@media(max-width:991px) {
   .subscribe p {
      text-align: center;
      margin: 50px 0 0;
   }
}


/* end subscribe */

/* start contact us  */

.contact {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}

.contact .content {
   display: flex;
   justify-content: space-between;

}

@media(max-width:767px) {

   .contact .content {
      flex-direction: column;
   }


}

.contact .content form {
   flex-basis: 70%;
}

.contact .content form .main-input {
   padding: 20px;
   display: block;
   border: 1px solid #ccc;
   margin-bottom: 30px;
   width: 100%;
}

.contact .content form .main-input:focus {
   outline: none;
}

.contact .content form textarea.main-input {
   height: 200px;
   resize: none;
}

.contact .content form input[type="submit"] {
   background-color: var(--main-color);
   color: white;
   border: none;
   padding: 20px 30px;
   display: flex;
   margin-left: auto;
   cursor: pointer;

}


@media(max-width:767px){

   .contact .content form input[type="submit"] {
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      justify-content: center;
   }
      
   }

.contact .content .info {
   flex-basis: 25%;
}

@media(max-width:767px) {

   .contact .content .info {
      order: -1;
      text-align: center;
   }


}





.contact .content .info h4 {
   text-transform: uppercase;
   font-weight: 500;
   margin-bottom: 30px;
   font-size: 18px;
}

.contact .content .info .phone {
   color: #777;
   display: block;
   margin-bottom: 20px;
}

.contact .content .info h4:last-of-type {
   margin-top: 70px;
}

@media(max-width:767px){

   .contact .content .info h4:last-of-type {
      margin-top: 30px;
   }
      
   }

.contact .content .info address {
   color: #777;
   line-height: 2;
   font-style: normal;

}
@media(max-width:767px){

   .contact .content .info address {
      margin-bottom: 30px;
   }
      
   }


.contact .content .info address::first-letter {
   text-transform: capitalize;
}

/* end contact us  */

/* Start footer */
footer{
   padding-top: calc(var(--section-padding)/2);
   padding-bottom: calc(var(--section-padding)/2);
   background-image: url("../images/5.jpg");
   background-size: cover;
   position: relative;
   color: white;
   text-align: center;

}

footer::before{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background-color: rgb(0 0 0 /70%);
}
footer .container{
position: relative;
}
footer .container img{
margin-bottom: 20px;
}


footer p:not(.copyright){
text-transform: uppercase;
padding: 20px;
border-bottom: 1px solid white;
width: fit-content;
margin: 20px auto 20px;
}

footer .social-icon i{
padding:10px 15px;
}
footer .copyright{
margin-top: 60px;
}
footer .copyright span{
font-weight: bold;
color: var(--main-color);
}



/* end footer */